# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# dotenv environment variable files
.env
.env.*
*.env


# temp directory
.temp
.tmp

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Redis
/redis-data
/redis-data/*

# Docker file
docker-compose.dev.yaml
Dockerfile.dev
docker-compose.prod.yaml
Dockerfile.prod

# resource
/resource
/resource/*

# script.sh
script.sh

# MongoDB
/mongo-data
/mongo-data/*